body {
    background-image: url(https://th.bing.com/th/id/OIP.3Nsft5JqJ5NBM9jfMHZPJwHaE0?w=294&h=192&c=7&r=0&o=5&dpr=1.3&pid=1.7);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0ch;
}

h1 {
    color: red;
    
}

article {
    text-indent: 0ch;
    font-size: larger;
}



